 


  body{
    
        margin: 0px 0px 0px 0px;
        padding: 0;
    } 


    .center-element {
        position: absolute;
    
    }

    .logo{
        height:100px;
        margin-top: 150px;
        
        
    }